/*
Colorblind safe color palette from colorbrewer2.org.
#a6611a - brown
#dfc27d - tan
#f5f5f5 - white
#80cdc1 - light green
#018571 - dark green
*/

body {
  background-color: #dfc27d;
  color: #a6611a;
  text-align: center;
  margin: 0;
}

h1 {
  color:#018571;
  padding: 5px;
  margin: 0;
}

footer {
  background-color: #018571;
  color: #f5f5f5;
  padding: 20px;
  margin: 10px 0px;
}

#body-container{
  background-color: #f5f5f5;
  max-width: 1000px;
  margin: auto;
  height:100vh;
  border: 2px solid #018571;
  border-radius: 25px;
  overflow: hidden;
}

#header{
  background-color: #80cdc1
}

#profile-picture{
  float:left;
}

#welcome-text{
  padding-top: 25px;
  font-size: 25px;
}

#research-interests{
  text-align: left;
  font-size: 20px;
  position: relative;
  left: 50px
}
